<!DOCTYPE html>
{% extends 'newsletter/base.html' %}
{% load static %}
<body style="font-family: 'SCDream4';">
  {% block content %}
  {% if messages %}
    <div class="alert alert-danger my-3" role="dialog">
      {% for message in messages %}
        <strong>{{ message.tag }}</strong>
        <ul><li>{{ message.message }}</li></ul>
      {% endfor %}
    </div>
  {% endif %}
  <form class="row g-3" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-md-8">
      <input type="text" class="form-control" id="title" name="title" placeholder="제목" value="{{ modify_post.title }}" >
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control" id="author" name="author" placeholder="작성자" value="{{ modify_post.author }}">
    </div>
    <div class="col-md-12">
      <textarea type="text" class="form-control" id="content" name="content" rows="10" placeholder="내용">{{ modify_post.content }}</textarea>
    </div>
    <div class="col-md-4">
      <label for="thumbnail" class="form-label">썸네일 이미지 변경</label>
      <input class="form-control" type="file" id="thumbnail" name="thumbnail" accept=".jpg, .png, .gif">
    </div>
    <div class="col-md-8">
      <label for="image" class="form-label">본문 내용 이미지 추가</label>
      <input class="form-control" type="file" id="image" name="image" accept=".jpg, .png, .gif" multiple>
    </div>
    <span class="col-md-4 mt-3 border" style="overflow: auto;">
      <p style="font-size: 13px;">
        현재 : {{ modify_post.thumbnail }}
      </p>
    </span>
    <span class="col-md-8 mt-3 border" style="overflow: auto; height: 150px;">
      {% if modify_images %}
      {% for image in modify_images %}
      <p style="font-size: 13px;">
        <label for="delete_image{{ forloop.counter }}">
        <input type="checkbox" id="delete_image{{ forloop.counter }}" name="delete_image" value="{{ image.image }}">
        &nbsp;{{ image.image }} 삭제</label>
      </p>
      {% endfor %}
      {% else %}
      <p style="font-size: 13px;">
        이미지가 없습니다.
      </p>
      {% endif %}
    </span>
    <div class="col-md-10"></div>
    <div class="col-md-1">
      <input type="submit" class="btn btn-primary" value="수정 완료">
    </div>
    <div class="col-md-1">
      <input type="button" class="btn btn-secondary" onclick="location.href='../'" value="수정 취소">
    </div>
  </form>
  {% endblock %}
</body>